{% extends 'saltstack/saltstack.html' %}
{% block title %}minion端认证管理及连通性测试{% endblock %}


{% block main %}
        <div class="tab-content">
                <div class="tab-pane fade in active">
 					<div class="row">
 					<br>
            			<div class="col-lg-4">
                			<label style="color: black;font-size: 22px">认证管理：</label>
         	    			<ul>
         	        			<form action="/saltadmin/key_list/{{ salt_server.id }}/" method="post" role="form">
                        			<div class="form-group">
                            			<label style="color: green">已经认证：</label>
                            			<select size="15" class="form-control" multiple="" name="delete" style="background-color: black;color: green">
                            			{% for i in minions %}
                                			<option>{{ i }}</option>
                            			{% empty %}
                                			<option>null</option>
                            			{% endfor %}
                            			</select>
                        			</div>
                        			<button class="btn btn-primary btn-xs" type="submit">删除</button>
                    			</form>

                    			<form action="/saltadmin/key_list/{{ salt_server.id }}/ " method="post" role="form">
                        			<div class="form-group">
                            			<label style="color: red">等待认证：</label>
                            			<select  class="form-control" multiple="" name="accept" style="background-color: black;color: red">
                            			{% for i in minions_pre %}
                                			<option>{{ i }}</option>
                            			{% empty %}
                                			<option>null</option>
                            			{% endfor %}
                            			</select>
                        			</div>
									<button  class="btn btn-primary btn-xs" type="submit">接受</button>
								</form>
                			</ul>
            			</div>
            			<div class="col-lg-1">
            			</div>
            			<div class="col-lg-7">
                			<label style="color: black;font-size: 22px">离线列表：</label>
                			<ul>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>minion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in minion_down %}
                                                <tr class="gradeA">
                                                    <td>{{ i }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                			</ul>
            			</div>
            		</div>
                </div>
            </div>
{% endblock %}