
<h2>
    代码发布
    <small style="color: red" class="text-danger">请先添加Salt API!!</small>
    <div class="btn-group pull-right">
        <a class="btn btn-info" href="/admin/saltstack/saltserver/add/" target="_blank" title="添加Saltmaster"><span class="glyphicon glyphicon-plus"></span> 添加API</a>
        <a class="btn btn-info" href="/admin/saltstack/svnproject/add/" target="_blank" title="新建项目"><span class="glyphicon glyphicon-plus"></span>新建项目</a>
{#            Server选择#}
        <div class="btn-group pull-right dropdown">
            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                &nbsp;SaltServer&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for s in server_list %}
                    <li><a href="/saltstack/deploy/{{s.id}}/">{{ s.idc }} -- {{ s.url }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</h2>
{% if error %}<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">&times;</a>{{ error }}</div>{% endif %}
{% if success %}<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>{{ success }}</div>{% endif %}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>项目主机</th>
                        <th>本地地址</th>
                        <th>SVN账号</th>
                        <th>创建日期</th>
                        <th>项目</th>
                        <th>状态</th>
                        <th>启动脚本</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
