bootstrap-admin
CherryPy
cryptography
Django
django-appconf
django-bootstrap-toolkit
django-grappelli
django-model-utils
django-users2
enum34
idna
ipaddress
Jinja2
#MarkupSafe
meld3
msgpack-pure
msgpack-python
MySQL-python
pyasn1
pycparser
pycrypto
pyOpenSSL
python-dateutil
PyYAML
pyzmq
#salt
six
supervisor
#uWSGI
Pillow
pyftpdlib

###20170329 添加异步
django-celery
##celery可视化的方式展现:各个任务的执行情况、各个worker的健康状态进行监控
flower
redis
django-bootstrap-form