{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Zabbix主机
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Zabbix主机  <small style="color: red">{{ apiinfo }}</small> </h3>
                    <div class="btn-group pull-right">
                            <ul class="dropdown-menu">
                                {% for s in server_list %}
                                    <li><a href="/saltstack/{{ url }}/{{s.id}}/">{{ s.idc }} -- {{ s.url }}</a></li>
                                {% endfor %}
                            </ul>
                    </div>
                {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ error }}
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ success }}
                    </div>
                {% endif %}
                </div>

            </div>
            {% block main %}
                <div class="row">
                    <div class="col-xs-2 col-md-2 col-lg-2">
                        <label for="name" class="sr-only"></label>
                        <input class="form-control" type="text" id="name" placeholder="输入主机名称">
                    </div>
                    <div class="col-xs-2 col-md-2 col-lg-2">
                        <label  for="ip" class="sr-only"></label>
                        <input class="form-control" type="text" id="ip" placeholder="输入主机IP地址">
                    </div>
                    <div class="col-xs-3 col-md-3 col-lg-3">
                        <label for="group" class="sr-only"></label>
                        <select class="form-control" id="group">
                            <option value="">选择分组</option>
                            {% for group in group_list %}
                            <option value="{{ group.groupid }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-3 col-md-3 col-lg-3">
                        <label for="template" class="sr-only"></label>
                        <select class="form-control" id="template">
                            <option value="">选择模板</option>
                            {% for template in template_list %}
                            <option value="{{ template.templateid }}">{{ template.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-2 col-md-2 col-lg-2">
                        <button class="btn btn-default pull-right" type="button" id="create">添加主机</button>
                    </div>
                </div>

            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script>
        $('#create').click(function(){
            var name=$('#name').val();
            var ip=$('#ip').val();
            var groupid=$('#group').val();
            var templateid=$('#template').val();
            $.getJSON("{% url 'zabbix:host_create' %}",{name:name,ip:ip,groupid:groupid,templateid:templateid},function(result){
                alert(result);
            });
        });
    </script>
{% endblock %}