{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
   Zabbix主机
{% endblock %}
{% block content %}
    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Zabbix 模板<small style="color: red">{{ apiinfo }}</small> </h3>
                {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ error }}
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ success }}
                    </div>
                {% endif %}
                </div>

            </div>
            {% block main %}

            {% endblock %}
        </div>
    </div>
    </div>

{% endblock %}