{% extends 'cmdb/cobbler.html' %}
{% block title %}装机平台{% endblock %}
{% block table %}
<div class="tab-content">
    <div class="tab-pane fade in active">
        <div class="row">
            <div class="panel-heading" style="background-color: white">
                <B class="fa fa-th"> 添加镜像</B>
                <div style="float: right;">
                    <a href="/cmdb/distro/" class="fa fa-hand-o-right">返回镜像列表</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <form class="form-system" method="post" action="/cmdb/add_distro/" role="form">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">镜像名称</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="name" />
                            </div>
                        </div>
                        <div class="form-group">
                             <label  class="col-sm-2 control-label" >镜像URL</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="url" value="http://<ip>/cobbler/ks_mirror/centos-6.6-x86_64"/>
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-4 col-sm-offset-5">
{#                               <button class="btn btn-white" type="submit"> 重置 </button>#}
                               <button class="btn btn-primary" type="submit"> 提交 </button>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}