{% extends 'base.html' %}
{% block title %}装机平台{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">装机平台</h3>
        </div>
    </div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			 <a id="modal-328430" href="#modal-container-328430" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>

			<div id="modal-container-328430" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						标题栏
					</h3>
				</div>
				<div class="modal-body">
					<p>
						显示信息
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存设置</button>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


{% endblock %}

