{% extends 'base.html' %}
{% block title %}装机平台{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">装机平台</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li><a href="/cmdb/system/">装机列表</a>
                </li>
                <li><a href="/cmdb/add_system/">添加主机</a>
                </li>
                <li><a href="/cmdb/profile/">装机系统列表</a>
                </li>
                <li><a href="/cmdb/add_profile/">添加装机系统</a>
                </li>
            </ul>
            {% if error %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ error }}
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ success }}
                </div>
            {% endif %}
        {% block table %}
        {% endblock %}


        </div>
    </div>
</div>
{% endblock %}