{% extends 'base.html' %}
{% block title %}虚拟主机信息删除{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">虚拟主机信息</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li><a href="/cmdb/host_table/">查看信息</a>
                </li>
                <li><a href="/cmdb/host_add_html/">添加信息</a>
                </li>
                <li><a href="/cmdb/host_update_html/">修改信息</a>
                </li>
                <li class="active"><a href="/cmdb/host_del_html/">删除信息</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="row">
                    <br>
                        <ul>
                            <div style="color: red;font-size: 14px;">
                                <B>{{ info }}</B>
                            </div>
                        </ul>
                        <form action="/cmdb/host_del_html/" method="post" role="form">
                        <ul>
                            <div class="form-group col-lg-4">
                                <label style="color: red">
                                    主机IP：
                                    <input class="form-control" name="local_ip" >
                                </label>
                                <br><input class="btn btn-danger btn-sm" type="submit" value="删除">
                            </div>
                        </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}