<link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/3.0.1/js/affix.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.0.1/js/alert.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.0.1/js/alert.min.js"></script>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <a id="modal-430415" href="#modal-container-430415" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>

			<div class="modal fade" id="modal-container-430415" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								标题
							</h4>
						</div>
						<div class="modal-body">
							内容...
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>