{% extends 'EmpAuth/user.html' %}
{% block title %}首页{% endblock %}
{% block title1 %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>修改密码 | Change Password.</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
 {% endblock %}
{% block main %}
    <script src="/static/js/judge.js"></script>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p></p>
                    {% if form.errors %}
                     <div class="alert alert-block alert-danger">
                                请确认帐号是否存在或其它选项是否已添写
                     </div>
                    {% endif %}
                    {% if info %}
                       <div class="alert alert-block alert-danger">
                               {{ info }}
                     </div>
                    {% endif %}
                    <form class="form-horizontal" method="post" action="/EmpAuth/change/{{ id }}/" role="form" onsubmit="return check()">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="username" name="username" value="{{ username }}" />
                            </div>
                        </div>
                        <div class="form-group">
                             <label for="inputPassword3" class="col-sm-2 control-label" >当前密码</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="id_old_password" name="id_old_password"  type="password"/>
                            </div>
                        </div>

                        <div class="form-group">
                             <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="password01" name="password01" type="password" />
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                             <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="password02" name="password02" type="password"/>
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-4 col-sm-offset-5">
                               <button class="btn btn-white" type="submit"> 重置 </button>
                               <button class="btn btn-primary" type="submit"> 提交 </button>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


