<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}SaltRuler 运维平台{% endblock %}</title>
    {% load staticfiles %}
    <link href={% static "css/uploadfile.css"%} rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <!--<link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript"  src="{% static "js/uploadfile.js" %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block style %}
    {% endblock %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/EmpAuth/">运维管理平台</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <label style="color: #C2C2C2">欢迎你，{{ request.session.username }}  {{username}}!</label>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/EmpAuth/userinfo/"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/EmpAuth/logout/"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/EmpAuth/"><i class="fa fa-dashboard fa-fw"></i> 仪表盘</a>
                        </li>
                        <li>
                            <a  href=""><i class="fa fa-cubes fa-fw"></i> SaltStack管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/saltstack/key_list/0/"></i>minion认证管理</a>
                                </li>
                                <li>
                                    <a href="/saltstack/cmd_exec/0/"></i>执行系统命令</a>
                                </li>
                                <li>
                                    <a href="/saltstack/state_exec/0/"></i>States模块编排</a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a href="tables.html"><i class="fa fa-sitemap fa-fw"></i> 自动化管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<!--<li>-->
                                    <!--<a href="/deploy/app_deploy_html/"></i>自动化部署应用</a>-->
                                <!--</li>-->
                                <li><a href="/saltstack/deploy/0/">代码发布</a></li>
                                <li>
                                    <a href="/deploy/uploadFile/0/"></i>文件上传</a>
                                </li>
                                <li>
                                    <a href="/deploy/downloadFile/0/"></i>文件下载</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-archive fa-fw"></i> 资产管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="/cmdb/asset_table/">物理服务器</a>
                                </li>
                                <li>
                                    <a class="active" href="/cmdb/host_table/">虚拟主机</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-gears fa-fw"></i> 系统管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/EmpAuth/userinfo">用户配置</a>
                                </li>
                                <li>
                                    <a href="/deploy/history/"></i>操作审计</a>
                                </li>
                            </ul>

                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        {% block content %}
        {% endblock %}
    </div>

                	{% block content1 %}
                    {% endblock %}

    {% block scripts %}{% endblock %}
    <!-- jQuery -->
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>
    <!--<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    // tooltip demo
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover demo
    $("[data-toggle=popover]")
        .popover()
    </script>-->
    {% block jquery %}

    {% endblock %}

</body>
</html>
