{% extends "DockerWeb/micro.html" %}

{% block title %}
Registry Add | Breezes - Docker Registry 管理平台
{% endblock %}

{% block container %}
    {% if error %}<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">&times;</a>{{ error }}</div>{% endif %}
    {% if success %}<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">&times;</a>{{ success }}</div>{% endif %}
<form class="form-horizontal" role="form" id="AddRegistryForm" action="/docker/registry_add/{% if salt_server.id %}{{ salt_server.id }}{% else %}0{% endif %}/" method="post">

  <div class="form-group">
    <label for="AddRegistryName" class="col-sm-12">Registry Name&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddRegistryName" name="name" placeholder="私有仓标识名称">
    </div>
  </div>

  <div class="form-group">
    <label for="AddRegistryAddr" class="col-sm-12">Registry Address&nbsp;<span class="glyphicon glyphicon-star-empty"></span></label>
    <div class="col-sm-12">
      <input type="url" class="form-control" id="AddRegistryAddr" name="addr" placeholder="私有仓完全合格地址">
    </div>
  </div>

  <div class="form-group">
    <label for="AddRegistryVersion" class="col-sm-12">Registry Version&nbsp;</label>
    <div class="col-sm-12">
      <input type="number" class="form-control" id="AddRegistryVersion" name="version" placeholder="私有仓版本" value=1>
    </div>
  </div>

  <div class="form-group">
    <label for="AddRegistryAuth" class="col-sm-12">Registry Auth&nbsp;</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="AddRegistryAuth" name="auth" placeholder="私有仓认证信息" disabled>
    </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-12">
      <button type="submit" id="AddRegistrySubmit"  class="btn btn-success">添加私有仓</button>
    </div>
  </div>



</form>
{% endblock %}

{% block script %}

{% endblock %}
