{% extends 'DockerWeb/registry.html' %}
{% block title %}Docker私有仓库镜像{% endblock %}
{% block title1 %} {% if data %}{{ data.name }}:{{ data.tag }}{% endif %}{% endblock %}
{% block table %}
    <table class="table table-hover table-bordered table-striped">
        {% if  data %}
                <tbody>
                    <tr>
                        <td><h4>Name</h4></td>
                        <td><h4>{{ data.name }}</h4></td>
                    </tr>
                    <tr>
                        <td>tag</td>
                        <td>{{ data.tag }}</td>
                    <tr>
                        <td>architecture</td>
                        <td>{{ data.architecture }}</td>
                    </tr>
                    <tr>
                        <td>fsLayers</td>
                        <td>{{ data.fsLayers }}</td>
                    </tr>
                    <tr>
                        <td>schemaVersion</td>
                        <td>{{ data.schemaVersion }}</td>
                    </tr>
                    <tr>
                        <td>history</td>
                        <td>{{ data.history }}</td>
                    </tr>
                </tbody>
        {% endif %}
    </table>
{% endblock %}